
.case {
    height: 50px;
    width: 50px;
}

.couleur-case-defaut {
    background-color: #048c1b;
}

.couleur-case-selectione {
    background-color: #8c0601;
}

.couleur-case-deplacement {
    background-color: #0c1f8c;
}

.piece-blanche {
    color: white;
}

.piece-noire {
    color: black;
}

.piece {
    font-size: 40px;
}
